// Colors.

// Primary.
$primary-orange: #FF5000;
$primary-rose: #F7EFE7;

//Base units
$container: 1128px;
$container-narrow: 765px;
$container-narrowest: 550px;


$imagedir: "img";
$icondir: "img/icons";
